.countdown {
    left: 1%;
    bottom: 5%;
    align-items: center;
    justify-content: center;
    height: 80px;
    position: fixed;
    color: lightblue;
    font-size: 16px;
    font-family: arial;
    display: flex;
    width: 300px;
    margin: auto;
    text-align: center;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    padding: 10px;
}
#jcountdown > span {font-size:36px; margin-left:10px; color:white;}

.shippingcountdown_text {
  margin-bottom: 20px;
}
