<div class="countdown">
    <div class="">
      <div class="shippingcountdown_text">
        <span>{l s='Złóż zamówienie, a wysyłka nastąpi za:'}</span>
      </div>
      <div id="jcountdown"></div>
    </div>
</div>
